<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %> 
</head>
<body>
     
  <header>
    <%- include('../layout/header.ejs') %>
  </header>
<section id="book-section">
    <% databaseResults.forEach(book => { %>
      <section id="info-section">
        <section id="img-section">
          <img class="book-thumbnail" src="<%= book.thumbnail %>" alt="">
        </section>
        <p id="book-title"><%= book.title %></p>
        <p id="book-author"><%= book.author %></p>
        <p id="book-description"><%= book.description %></p>
        <p id="book-isbn"><%= book.isbn %></p>
        <p id="book-details"><a href="/books/<%= book.id %>">Show THE Detales</a></p>
      </section>
    <% }); %> 
</section>
<footer>
  <%- include('../layout/footer.ejs') %>

</footer>
    
</body>
</html>