<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %>

</head>
<body>
  <header>
    <%- include('../layout/header.ejs') %>
  </header>
  
  
    


  

  <main>
    
    <h1 id="form-title">Book Details</h1>

    <section id="book-section">
      <% databaseResults.forEach(book => { %>
        <section id="info-section">
          <section id="img-section">
            <img class="book-thumbnail" src="<%= book.thumbnail %>" alt="">
          </section>
          <p id="book-title"><%= book.title %></p>
          <p id="book-author"><%= book.author %></p>
          <p id="book-description"><%= book.description %></p>
          <p id="book-isbn"><%= book.isbn %></p>
          <p id="book-details"><a href="/">GET BACK TO HOME</a></p>
        </section>
      <% }); %>
    </section>
    
  </main>

  <section id="before-footer"></section>
  <footer>
    <%- include('../layout/footer.ejs') %>

  </footer>

</body>
</html>