<!DOCTYPE html>
<html lang="en">
    <%- include('./layouts/head') %>

     <%- include('./layouts/header') %>
    <body>
       <%- include('./layouts/menu') %>

            <main>
                <h1>ERROR</h1>
                <details>
                    <summary>HERE ERROR</summary>
                    <p>
                             Error Message: <%= err %>
                    </p>
                 
                </details>
            </main>

    <%- include('./layouts/footer') %>
    </body>

</html>