
<!DOCTYPE html>
<html lang="en">


    <%- include('./layouts/head') %>
    <title>BOOK APP</title>
    <%- include('./layouts/header') %>

<body>
 <%- include('./layouts/menu') %>
 
<main>
<section >
<ul>
<h2> total number of books : <%= count %> </h2>
 <% books.forEach(el => { %>
 <h4> title : <%= el.title %></h4>
 <h4> author : <%= el.author %></h4>
  <button type="button"><a href="/books/<%=el.id%>">VIEW THE DETALIS</a> </button> 
      <% }); %>
</ul>
</section>

</main>
   <%- include('./layouts/footer') %>

</body>
</html>